table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: rgb(119, 202, 227);
  width: "40px";
}

progress {
  border: 0;
  width: 200px;
  height: 3px;
}
progress::-webkit-progress-bar {
  background-color: rgb(156, 152, 152);
}
progress::-webkit-progress-value {
  background-color: #0072ff;
}
progress::-moz-progress-bar {
  /* style rules */
}

button {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #6e6464;
}

button:active {
  background-color: #0072ff;
}
