/* table,
th {
  border: 1px solid #232a35;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
thead {
  background-color: #155cce;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffffff;
}
tbody {
  background-color: aquamarine;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  color: #155cce;
}
tbody button {
  background-color: #0072ff;
  width: 150px;
  height: 30px;
  border: 1px solid #0072ff;
  border-radius: 10px;
}

td {
  height: 40px;
}  */